<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <ul>
        <li v-for="item in lista" :key="item">
        {{ item }}
        </li>
    </ul>
    <hr>
    <form @submit.prevent="agregar">
        <input type="number" step="1" v-model="item">
        <input type="submit" value="Agregar" >
    </form>
</div>

<script>
  const { createApp, ref } = Vue

  createApp({
    data() {
        return {
            lista: [4, 6, 3, 2, -3, 2],
            item: 0
        }
    },
    methods: {
        agregar(e) {
            e.preventDefault();
            this.lista.push(this.item)
            this.item = 0
        },
        
    }
  }).mount('#app')
</script>