<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
  <h1>Clientes</h1>
  <h2>Lista</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="cliente in clientes" :key="cliente.id">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.edad }}</td>
        <td>
          <button v-on:click="borrar(cliente.id)">X</button> |
          <button v-on:click="editar(cliente)">EDITAR</button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h2>{{editando ? 'Editar' : 'Agregar'}}</h2>
  <form>
    <div>
      <label for="id">ID:</label>
      <input required type="number" step="1" id="id" v-model="cliente.id" />
    </div>
    <div>
      <label for="nombre">Nombre:</label>
      <input required type="text" id="nombre" v-model="cliente.nombre" />
    </div>
    <div>
      <label for="edad">Edad:</label>
      <input required type="number" step="1" id="edad" v-model="cliente.edad" />
    </div>
    <input type="button" v-on:click="submit" :value="editando ? 'Guardar' : 'Agregar'" />
  </form>
</div>
<!-- 
# Consigna:
  Dado una lista de clientes, con id, nombre y edad:
  1- Cargar la lista de clientes en el objeto vue y mostrar la lista
  2- Pedir los datos de un cliente y con un boton, agregarlo a la lista.
  3- Bonus I : agregar un botón por cada elemento de la lista para permitir eliminar
  4- Bonus II: agregar un botón por cada elemento para permitir modificar
 -->
<script>
  const { createApp, ref } = Vue;

  createApp({
    data() {
      return {
        clientes: [{ id: 1, nombre: "Juan", edad: 30}, { id: 2, nombre: "Pedro", edad: 40}],
        cliente: {
          id: 0,
          nombre: "",
          edad: 0,
        },
        editando: false
      };
    },
    methods: {
      submit() {
        if(this.editando){
          this.guardar();
        } else {
          this.agregar();
        }
      },
      agregar() {
        this.clientes.push(this.cliente);
        this.cliente = {
          id: 0,
          nombre: "",
          edad: 0,
        };
      },
      guardar(){
        // buscar en la lista de clientes por id y actualizar sus datos
        const cliente = this.clientes.find((cliente) => cliente.id === this.cliente.id);
        cliente.nombre = this.cliente.nombre;
        cliente.edad = this.cliente.edad;
        
        this.cliente = {
          id: 0,
          nombre: "",
          edad: 0,
        };
        this.editando = false;
      },
      borrar(clienteId) {
        this.clientes = this.clientes.filter((cliente) => cliente.id !== clienteId);
      },
      editar(cliente) {
        this.cliente = {...cliente};
        this.editando = true;
      }
    },
  }).mount("#app");
</script>
